.submit-roulette:hover {
  background: #bb0000;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.submit-roulette:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-box-shadow: none;
  box-shadow: none;
}



.blank__form {
  padding: 0 20px 0;
  max-width: 400px;
  margin: auto;
}

input,
select {
  background: #FFFFFF;
  border-radius: 20px;
  padding-left: 10px;
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
  border: 0;
  outline: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

input:focus,
select:focus {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  background: #11A1BD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  cursor: pointer;

  border: 0;
  color: #fff;
  padding: 17px;
  border-radius: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  transition: .3s;
  text-decoration: none;
  min-width: 160px;
  display: inline-block;
}

.btn--red {
  text-transform: uppercase;
  background: #E66161;
}

.btn:hover {
  color: #fff;
  box-shadow: none
}

.form__note {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45;
  padding: 0 20px;
  padding-bottom: 30px;
}

.spin__attention {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.08;
  margin-bottom: 10px;
  text-transform: uppercase;

  color: #E66161;
}

.scroll {
  margin-bottom: 40px;
}

.spin-wrapper_v2 {
  margin: 0 auto;
  max-width: 500px;

  font-family: "Montserrat", sans-serif;
  background: #F5F5F5;
  box-shadow: 0px 4px 10px rgba(88, 88, 88, 0.25);
  border-radius: 20px;
  padding: 30px 15px;
  text-align: center;
  border: none;
}

.wheel_v2 {
  width: 270px;
  margin: 0 auto;
  position: relative;
}

.wheel_v2 img {
  max-width: 100%;
}

.wheel_v2-img {
  -webkit-transition: 4s;
  transition: 4s;
}

.wheel_v2-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: none !important;
}

.wheel_v2-cursor .cursor-text_v2 {
  /* position: absolute;
  z-index: 2;
  display: inline-block; */
  /* width: 45% !important;
  height: 45%; */
  cursor: pointer;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
}

.order_block {
  display: none;
  text-align: center !important;
}

/* .blank {
  background: url(form-bg.jpg) center/cover no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

.blank__head {
  padding: 35px 10px 10px;


}

.blank__head img {
  width: 75px;
}

.blank__head-text {
  padding-left: 10px;
}

.blank__formular {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;

  text-transform: uppercase;

  color: #11A1BD;
}

.blank__date {
  font-weight: 300;
  font-size: 11px;
} */

.spin-result-wrapper_v2 {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
}

/* .blank__note {
  background: #11A1BD;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  padding: 10px;
  margin-bottom: 20px;

  text-align: center;

  color: #FFFFFF;
}

.blank__title {
  font-weight: 700;
  margin-bottom: 20px;
}

.blank__price {
  text-align: center;
  margin-bottom: 15px;
}

.price__old {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;


  text-decoration-line: line-through;

  color: #E66161;
}

.price__new {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.25;



  color: #11A1BD;
} */

.pop-up-window_v2 {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #ffffff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  -webkit-animation: 0.7s ease 0s normal none 1 running pop-up-appear;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.spin-result-wrapper_v2 .close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(cross.svg);
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer;
}

.pop-up-heading_v2 {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.pop-up-text_v2 {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  text-align: center !important;
}


.congrats {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.spin-result-wrapper_v2 p {
  font-size: 16px;
  line-height: 1.3em;
  font-family: "Montserrat", sans-serif;
  padding: 0 15px;
  font-weight: 400;
}

.super-rotation {
  -webkit-animation-name: super-rotation;
  animation-name: super-rotation;
  animation-duration: 7.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out
}

@keyframes super-rotation {

  90% {
    transform: rotate(1745deg);
  }

  100% {
    transform: rotate(1745deg);
  }
}

.pop-up-layer {
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  z-index: 99 !important;
}

.pop-up-layer-show {
  display: block;
}

.pop-up-window_v2 {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  -webkit-animation: 0.7s ease 0s normal none 1 running pop-up-appear;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window_v2::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0;
  right: 0px;
  margin: 0 auto;
  background-color: #e66161;
  border-radius: 50%;
  -webkit-animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window_v2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -o-border-image: none;
  border-image: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
  -webkit-animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

@-webkit-keyframes pop-up-appear {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  30% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes pop-up-appear {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  30% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes pop-up-appear-before {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop-up-appear-before {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


select {
  -webkit-appearance: none;
  /* Webkit */
  -moz-appearance: none;
  /* FF */
  -ms-appearance: none;
  /* Edge */
  appearance: none;
  /* Future */

  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 1em;
  background-image: url("custom_select.png");
}

select::-ms-expand {
  display: none;
}

@media(min-width:992px) {
  .wheel_v2 {
    width: 390px;
  }

  .spin-wrapper_v2 {
    padding: 35px;
  }

  .cursor-text {
    font-size: 13px;
  }

  .blank__formular {
    font-size: 20px;
  }

  .blank__date {
    font-size: 14px;
  }


  .blank__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    max-width: 800px;
  }



  .blank__form-left {
    text-align: left;
  }

  .blank__price {
    text-align: left;
  }

  .cursor-text {
    line-height: 4.7;
  }

}

.ruletka-p_v2 {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 1.62;
}

